{{ define "maincontent" }}


	{{- with .Title }}
		<header class="page-header">
			<h1 class="page-header__title">{{ . }}</h1>
		</header>
	{{- end }}

	{{- with .Content }}
		<div class="page-content">
			{{ . }}
		</div>
	{{- end }}

	{{ partial "sectiontree.html" . }}
	
{{ end }}

<!--

<ul>

{{ if eq .Section (lower .Params.pagesection) }} 
	OK <br>
	Section: {{ .Section }} <br>
	.CurrentSection: {{ .CurrentSection }} <br>
	Name = {{ .Name }} <br>
	{{ range where .Site.RegularPages "Section" .Section }}
	  {{- .Render "summary" }}
	{{ end }}

{{ else }}
	Else <br>
	{{- $postSection := .CurrentSection }}
	Postsection :{{ $postSection }} <br>
	Section: {{ .Section }} <br>
	Name: {{ .Name }} <br>
	{{ range where .Site.RegularPages "Section" .Section }}

	  {{ if eq .CurrentSection $postSection }}
	    {{- .Section }}<br>
	    {{- .Parent }} <br>
	    {{- .CurrentSection }}<br>
	  	{{- .Render "summary" }}
	  {{ end }}  	
	{{ end }}
{{ end }}
</ul>

{{ end }}

-->