{{ define "maincontent" }}

	{{ if .Parent.IsHome  }}	
		{{ range .Pages }}	
			{{ .Scratch.Set "articles3" 0 }}
			{{ .Scratch.Set "articles2" 0 }}
			{{ $articles := len .Pages }}
			{{ if eq ( mod $articles 3 ) 0 }}
				{{ .Scratch.Set "articles3" (div $articles 3) }}
				{{ .Scratch.Set "articles2" 0 }}
			{{ else }}
				{{ if eq ( mod $articles 3 ) 1 }}
					{{ .Scratch.Set "articles3" (mul ( sub (div $articles 3) 1) 3 )}}
					{{ .Scratch.Set "articles2" (sub $articles (.Scratch.Get "articles3")) }}
				{{ else }}
					{{ .Scratch.Set "articles3" (mul ((div $articles 3) ) 3 )}}
					{{ .Scratch.Set "articles2" 2 }}
				{{ end }}
			{{ end }}
		
			{{ $articles3 := .Scratch.Get "articles3" }}
			{{ $articles2 := .Scratch.Get "articles2" }}

			<div class = "lc-section">
				<div class = "lc-sectionhead">
					<h2><a href="{{.Permalink}}">{{.Title}}</a></h2>
				</div>
				<div class = "lc-sectionbody">
				{{ $local := newScratch}}
				
				{{ $local.Set "newrow" 1 }}
				{{ $local.Set "changerow" 0 }}
				{{ range $index, $page :=  .Pages }}
					
										
					{{ $c :=add $index 1 }}	
					{{  if gt $c 1 }}
						{{ $local.Set "newrow" ($local.Get "changerow") }}
					{{ end }}
					
					{{  if (eq ($local.Get "newrow") 1) }}
						<div class="lc-row">
					{{ end }}


					{{ if le $c $articles3 }}
						{{ .Scratch.Set "class" "col-1-3"  }}
						{{ if and (eq (mod $c 3) 0) (gt $c 1) }}
							 {{ $local.Set "changerow" 1 }}
						{{ else }}
							{{ $local.Set "changerow" 0 }}
						{{ end }}

					{{ else }}
						{{ .Scratch.Set "class" "col-1-2"  }}
						{{ if or  (eq $c (add $articles3 2)) (eq $c (add $articles3 4)) }}
							{{ $local.Set "changerow" 1 }}
						{{ else }}
							{{ $local.Set "changerow" 0 }}
						{{ end }}
					{{ end }}
					
							<div class="{{ (printf "%s" (.Scratch.Get "class"))}} lc-itemblock">
								<div class="lc-item type-normal--item">
									
									{{ partial "postsummary" (dict "context" . "class" (.Scratch.Get "class")) }}
	
								</div><!-- end lc-item -->
							</div>
					{{ if or (eq ($local.Get "changerow") 1)  }}
						</div>
					{{ end }}								

				{{ end }}	
				</div>
			</div>
		{{ end }}

	{{ else }}	

		{{ .Scratch.Set "articles3" 0 }}
		{{ .Scratch.Set "articles2" 0 }}
		{{ $articles := len .Pages }}
		{{ if eq ( mod $articles 3 ) 0 }}
			{{ .Scratch.Set "articles3" (div $articles 3) }}
			{{ .Scratch.Set "articles2" 0 }}
		{{ else }}
			{{ if eq ( mod $articles 3 ) 1 }}
				{{ .Scratch.Set "articles3" (mul ( sub (div $articles 3) 1) 3 )}}
				{{ .Scratch.Set "articles2" (sub $articles (.Scratch.Get "articles3")) }}
			{{ else }}
				{{ .Scratch.Set "articles3" (mul ((div $articles 3) ) 3 )}}
				{{ .Scratch.Set "articles2" 2 }}
			{{ end }}
		{{ end }}
		
		{{ $articles3 := .Scratch.Get "articles3" }}
		{{ $articles2 := .Scratch.Get "articles2" }}

		<div class = "lc-section">
			<div class = "lc-sectionhead">
				<h2><a href="{{.Permalink}}">{{.Title}}</a></h2>
			</div>
			<div class = "lc-sectionbody">
				{{ $local := newScratch}}
				
				{{ $local.Set "newrow" 1 }}
				{{ $local.Set "changerow" 0 }}
				{{ range $index, $page :=  .Pages }}
					
										
					{{ $c :=add $index 1 }}	
					{{  if gt $c 1 }}
						{{ $local.Set "newrow" ($local.Get "changerow") }}
					{{ end }}
					
					{{  if (eq ($local.Get "newrow") 1) }}
						<div class="lc-row">
					{{ end }}


					{{ if le $c $articles3 }}
						{{ .Scratch.Set "class" "col-1-3"  }}
						{{ if and (eq (mod $c 3) 0) (gt $c 1) }}
							 {{ $local.Set "changerow" 1 }}
						{{ else }}
							{{ $local.Set "changerow" 0 }}
						{{ end }}

					{{ else }}
						{{ .Scratch.Set "class" "col-1-2"  }}
						{{ if or  (eq $c (add $articles3 2)) (eq $c (add $articles3 4)) }}
							{{ $local.Set "changerow" 1 }}
						{{ else }}
							{{ $local.Set "changerow" 0 }}
						{{ end }}
					{{ end }}
					
							<div class="{{ (printf "%s" (.Scratch.Get "class"))}} lc-itemblock">
								<div class="lc-item type-normal--item">
									{{ partial "postsummary" (dict "context" . "class" (.Scratch.Get "class")) }}
	
								</div><!-- end lc-item -->
							</div>
					{{ if or (eq ($local.Get "changerow") 1)  }}
						</div>
					{{ end }}								

				{{ end }}	
				</div>

			</div>
		</div>
		{{ end }}




{{ end }}

