{{ define "maincontent" }}


	{{- with .Title }}
		<header class="page-header">
			<h1 class="page-header__title">{{ . }}</h1>
		</header>
	{{- end }}

	{{- with .Content }}
		<div class="page-content">
			{{ . }}
		</div>
	{{- end }}
	<ul>
	{{ range .Pages }}
        <li>
            <a href="{{.Permalink}}">{{.Title}}</a>
            
            	<UL>
            	{{ range .Pages }}
            	<li><a href="{{.Permalink}}">{{.Title}}</a>
            	</li>
           		 {{ end }}
           		</ul>
           	
        </li>
    {{ end }}
	</ul>

{{ end }}