{{ define "maincontent" }}


<div class="ct-section">
	<article class="ct-section-main">
		<div class="ct-section-row">
			<div class ="ct-section-label">
				<a href="{{ .Parent.Permalink }}" class="content-section-label--link">{{ .Parent.Name }}</a>
			</div>
			<div class= "ct-section-primary">
				<header class = "content-header">
					<h1 class = "content-title">{{ .Title }}</h1>
					<p class = "content-intro>">{{ .Description }}</p>
				</header>
			</div>
		</div>

		<div class="ct-section-row">
			<div class ="ct-section-label">
				 <p class="meta-data">Last updated on {{ .Lastmod.Format "Jan 2, 2006"  }} by {{ $.Params.Author }}</p>
			</div>
			<div class= "ct-section-primary">
				{{ if isset $.Params "mainimage" }}
				
				<figure class="content-media content-media-primary">
					{{ $original := .Page.Resources.GetMatch ( printf "%s*" $.Params.Mainimage ) }}
					
					{{ .Scratch.Set "image_large" ($original.Resize "712x") }}
					{{ .Scratch.Set "image_medium" ($original.Resize "568x") }}
					{{ .Scratch.Set "image_small" ($original.Resize "458x") }}
					{{ .Scratch.Set "image_mobile" ($original.Resize "676x") }}
					{{ $image_large := .Scratch.Get "image_large" }}
					{{ $image_medium := .Scratch.Get "image_medium" }}
					{{ $image_small := .Scratch.Get "image_small" }}
					{{ $image_mobile := .Scratch.Get "image_mobile" }}

					<img srcset="{{$image_large.RelPermalink}} 712w,
					             {{$image_mobile.RelPermalink}} 676w,
								 {{$image_medium.RelPermalink}} 568w, 
								 {{$image_small.RelPermalink}} 458w"
						 sizes="(min-width: 81.25em) 712px,
						        (min-width: 71.25em) 756px,
						        (min-width: 61.25em) 458px,
						        676px"
						 src="{{$image_large.RelPermalink}}" 
						 alt= "{{$.Params.Altmainimage}}" >

					<figcaption class="content-media__caption"> {{$.Params.Captionmainimage}} </figcaption>
				</figure>
				{{ end }}
				<div class="content-body">
					{{ .Content  }}

				</div>
			</div>
		</div>
	</article>
	<aside class = "ct-section-secondary">
		<div class ="toc">
	 		<p><strong>What's on this page</strong></p>
			<nav class="tableofcontents">
				{{ .TableOfContents }}
			</nav>
		</div>
	</aside>
</div>

{{ end }}