<footer class="c-footer">

  <!--<div class="l"> -->
    
    <nav class="c-footer-nav">
    
      <ul class="c-footer-nav__list">
    
        <li class="c-footer-nav__item"><a href="#" class="c-footer-nav__link">{{ .Site.Params.About }}</a></li>
        <li class="c-footer-nav__item"><a href="#" class="c-footer-nav__link">{{ .Site.Params.Privacy }}</a></li>
        <li class="c-footer-nav__item"><a href="#" class="c-footer-nav__link">{{ .Site.Params.Contact }}</a></li>
        <li class="c-footer-nav__item"><a href="#" class="c-footer-nav__link">{{ .Site.Params.Disclaimer }}</a></li>
    
      </ul><!--end c-footer-nav__list-->
    
    </nav><!--end c-footer-nav-->  
     <p class="copyright">&copy; {{ now.Format "2006" }} {{ .Site.Params.DisplayURL }} . All rights reserved. </a></p>
    <p class="c-footer__info">{{ .Site.Params.DisplayURL }} {{ .Site.Params.ownedby }} <strong><a href="https://www.track-media.net">TrackMedia GCV</a></strong> , Grotesteenweg 473, 2018 Antwerp, Belgium (VAT: BE 0679.938.623)</p>
    
   <!--</div>  --><!-- end l -->

</footer><!-- end c-footer -->		
