{{ $imagefile := (printf "%s*md" (.Get 0)) }}
{{ $imagecaption :=  .Get 1 }}
{{ $headless := .Site.GetPage "page" "bolleke" }}
{{ $reusablePages := $headless.Resources.Match ($imagefile) }}

{{ range $reusablePages }}

<div class="content-media content-media-primary">
        
        <img 
		  
  		  srcset="	{{ .Site.Params.image_root }}{{ .Params.Imagesrc }}?w=675&h=506&dpr=3&q=50&format=auto&dpr=3&ch=Width,DPR 2025w,
  		  			{{ .Site.Params.image_root }}{{ .Params.Imagesrc }}?w=640&h=480&dpr=3&q=50&format=auto&dpr=3&ch=Width,DPR 1920w,
  		  			{{ .Site.Params.image_root }}{{ .Params.Imagesrc }}?w=480&h=360&dpr=3&q=50&format=auto&dpr=3&ch=Width,DPR 1440w,
  		  			{{ .Site.Params.image_root }}{{ .Params.Imagesrc }}?w=675&h=506&dpr=2&q=50&format=auto&dpr=2&ch=Width,DPR 1350w,
  		  			{{ .Site.Params.image_root }}{{ .Params.Imagesrc }}?w=640&h=480&dpr=2&q=50&format=auto&dpr=2&ch=Width,DPR 1280w,
  		  			{{ .Site.Params.image_root }}{{ .Params.Imagesrc }}?w=480&h=360&dpr=2&q=50&format=auto&dpr=2&ch=Width,DPR 960w,	
  		  			{{ .Site.Params.image_root }}{{ .Params.Imagesrc }}?w=675&h=506&dpr=3&q=50&format=auto&dpr=1&ch=Width,DPR 675w,
          		  	{{ .Site.Params.image_root }}{{ .Params.Imagesrc }}?w=640&h=480&dpr=1&q=70&format=auto&dpr=1&ch=Width,DPR 640w,	
		 	        {{ .Site.Params.image_root }}{{ .Params.Imagesrc }}?w=480&h=360&dpr=1&q=70&format=auto&dpr=1&ch=Width,DPR 480w"
                    
  		  sizes=	"(min-width: 675px) 675px, (min-width: 320px) 100vw"
  		  src="{{ .Site.Params.image_root }}{{ .Params.Imagesrc }}?w=675&h=506"
          alt="{{ .Params.Imagename }}" class="content-media__img">
          <figcaption class="content-media__caption">{{ $imagecaption }} <a href="{{ .Params.imagePhotographerURL}}" rel="{{ .Params.ImageFollow }}" target="_blank">{{ i18n "original_image"}}</a>{{ i18n "by_user"}} {{ .Params.imagePhotographerName}} - {{ .Params.imageSource }}<a href="{{.Params.imageCopyrightURL}}" rel="nofollow" target="_blank"> {{ .Params.imageCopyright}}</a></figcaption>



</div>

{{ end }}