{{ $original := .Page.Resources.GetMatch (printf "%s*" (.Get 0)) }}
{{ if $original }}

  {{ $alt := .Get 1 }}
  {{ .Scratch.Set "image_large" ($original.Resize "498x jpg") }}

  {{ .Scratch.Set "image_medium" ($original.Resize "398x jpg") }}
  {{ .Scratch.Set "image_small" ($original.Resize "321x jpg") }}

  {{ .Scratch.Set "image_mobile" ($original.Resize "473x jpg") }}
  {{ $image_large := .Scratch.Get "image_large" }}
  {{ $image_medium := .Scratch.Get "image_medium" }}
  {{ $image_small := .Scratch.Get "image_small" }}
  {{ $image_mobile := .Scratch.Get "image_mobile" }}

  <img 
        alt=
          {{ with .Inner }}
         "{{ . }}"
        {{ else }}
         "{{ $alt }}"
        {{ end }} 
        srcset="
            {{$image_large.RelPermalink}} 498w,
            {{$image_mobile.RelPermalink}} 473w,
            {{$image_medium.RelPermalink}} 398w,
            {{$image_small.RelPermalink}} 321w
           
            "
       sizes="
          (min-width: 81.25em) 498px,
       		(min-width: 71.25em) 398px,
       		(min-width: 61.25em) 321px,
       		473px
          "
       src="{{$image_large.RelPermalink}}"  class="content-body-image" loading="lazy">
{{ else }}
  <p>problem</p>
{{ end }}