/*------------------------------------*\
    #FOOTER NAVIGATION
\*------------------------------------*/
 
/**
 * Footer Nav
 */
.c-footer-nav {
		display: block;
}

/**
 * Footer Nav List
 */
.c-footer-nav__list {
	display: flex;
	//flex-direction: column;
	flex-wrap: wrap;

	@media all and (min-width: $bp-small) {
		flex-direction: row;
		justify-content: center;

	}	
}


.c-footer-lang__list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;

	@media all and (min-width: $bp-small) {
		flex-direction: row;
		justify-content: center;

	}	
}




/**
 * Footer Nav List Item
 */
.c-footer-nav__item {
	width: 50%;	
	
	@media all and (min-width: $bp-small) {
		width: inherit;
	}
}


.c-footer-lang__item {
	width: 100%;
	display: block;	
	text-align:center;
	padding: $pad-quarter 0;
	font-size: $font-size-small;
	@media all and (min-width: $bp-small) {
		width: inherit;
		padding: $pad-quarter $pad-quarter;

	}
}

/**
 * Footer Nav Links
 */
.c-footer-nav__link {
	font-weight: bold;
	display: block;
	padding: $pad-half 0;
	color: $color-gray-05;
	text-align:center;
	
	&:hover, &:focus {
		color: $color-white;
	}
	@media all and (min-width: $bp-small) {
		padding: $pad $pad-and-half;

	}
}

.c-footer-lang__link {
	font-weight: bold;
	display: block;
	
	color: $color-gray-05;
	text-align:center;
	
	&:hover, &:focus {
		color: $color-white;
	}
}




